html {
  box-sizing: border-box;
  font-family: 'Poppins', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  background-color: #faf8ef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.board {
  --cell-size: 12vmin;
  --cell-gap: 2vmin;
  --cell-border-radius: 0.5vmin;
  display: grid;
  grid-template-rows: repeat(4, var(--cell-size));
  grid-template-columns: repeat(4, var(--cell-size));
  gap: var(--cell-gap);
  background-color: #bbada0;
  border-radius: var(--cell-border-radius);
  padding: var(--cell-gap);
  position: relative;
}
.cell {
  background-color: rgba(238, 228, 218, 0.35);
  border-radius: var(--cell-border-radius);
}
.tile {
  --x: 1;
  --y: 2;
  --background-color-lightness: 20%;
  --text-color-lightness: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: var(--cell-border-radius);
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  position: absolute;
  font-size: 4.5vmin;
  font-weight: 600;
  background-color: hsl(28, 40%, var(--background-color-lightness));
  color: hsl(28, 20%, var(--text-color-lightness));
  transition: ease-in-out;
  animation: pop 300ms ease-in-out;
}
@keyframes pop {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
}
